body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(202, 214, 214);
    color: black;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: normal;
}

.box-background1{

    background-color:darksalmon;
    color: white;
}
.background-image{
    /* padding-left: 40%; */
    /* margin-bottom: 20%; */
    width: 80%;
    height: auto;
}





.icons-holder{
    padding-left: 40%;
    /* display: flex; */
    

}

#dropdownMenuButton2{
    color: white;
    border: none;
    outline: none;
}


a button:hover{
    background-color: white;
    color: black;
}

button a{
    text-decoration: none;
    color: white;
}

.icons-holder button{
    outline-style: none;
    border: none;
    background-color: darksalmon;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    font-family:monospace;
    font-size: normal;
    letter-spacing: 2px;    
}

.navbar-nav .nav-item{
padding: 15px;
}

.nav-item a{
    color: white;
}


.box-container{
    background-color: white;
    color: grey;
    height: auto;
    width: 95%;
    text-align: center;
    margin-left: 2.5%;
}

.box1-holder{
    text-align: left;
    padding-left: 100px;
    padding-top: 70px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.box1-image img{
    width: 30%;
}

.box1-holder h2{
    padding-top: 15px;
    font-size: 30px;
}

.box1-holder h6{
    color: rgb(77, 189, 77);

}

.box1-holder p{
    font-size: large;
    color: grey;
}

.text a h2{
    text-decoration: none;
    color: grey;
}

a{
    text-decoration: none;
    color:rgb(77, 189, 77) ;
}

.box1-holder hr{
    width: 100%;
    /* padding-left: 0px; */
}







.footer-background{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(24, 88, 52) ;
    color: white;
    height: 550px;
    width: 100%;
    padding-bottom: 500px;
    margin-top: 40px;
    
}


.footer-background hr{
    width: 100%;
}

.footer .box16{
    padding-top: 50px;
    width: 80%;
}

.footer .box16 p{
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: large; */
    
}

.footer .box16 h6{
    padding-top: 10px;

}

.footer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-items: center;

}


.box16 .logo-footer p{
    padding: 0px 30px;
    margin-bottom: 20px;
} 

.footer-background h5{
    padding: 30px;
}

.footer-background .icons2{
    text-align: right;
    padding: 0px 50px;
   /* padding-bottom: 20%; */
   /* margin-left: 800px; */
    
}




@media screen and (max-width: 926px){
    .box1-holder{
        padding-left: 30px;
        padding-top: 50px;
    }
    .box1-image img{
        width: 50%;
    }
}
    

